:root {
  /* LIGHT MODE */
  --color-bg: #ffffff;
  --color-text: #0a0a0a;
  --color-text-muted: #2a2a2a;
  --color-border: #1a1a1a;
  --color-accent: #3a3a3a;
  --radius-md: 10px;
  --font-primary: var(--font-primary);
}

/* DARK MODE */
[data-theme="dark"] {
  --color-bg: #030304;

  --color-text: #e0e0e0;
  --color-text-muted: #b0b0b0;

  --color-border: #444444;
  --color-accent: #888888;
}
