:root {
  /* LIGHT MODE */

  /* Surface */
  --color-bg: #ffffff;

  /* Text */
  --color-text: #000000;
  --color-text-muted: #4b4b4b;

  /* UI Elements */
  --color-border: #e5e5e5;
  --color-accent: #888888;

  --radius-md: 10px;

  /* Font */
  --font-primary: var(--font-primary);
}

/* DARK MODE */
[data-theme="dark"] {
  --color-bg: #121212;

  --color-text: #e0e0e0;
  --color-text-muted: #b0b0b0;

  --color-border: #444444;
  --color-accent: #888888;
}
